body {
    background-color: #3f4b3b;
    font-family: 'Baloo 2', cursive;
    color: black;
}

a {
    color: black;
}

.jumbotron {
    background: #5c8156;
    padding: 2rem;
    color: white;
}

.img-cont {
    width: 40%;
}

.navbar {
    background: #7ba475;
}

.card {
    background: #44633f;
    border-style: solid;
    border-color: black;
}

.btn {
    background-color: #76a56f;
    color: black;
}

.modal-content {
    background-color: #44633f;
}

.modal-title {
    color: white;
}

.modal-header {
    border-bottom: 1px solid #00000000;
}

.modal-footer {
    border-top: 1px solid #00000000;
}

.list-group-item {
    background-color: #7ba475;
}