body {
    background-image: url(../images/homepage2.png);
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Baloo 2', cursive;
    color: black;
}

a {
    color: black;
}

.jumbotron {
    background-image: url(../images/homepage.png);
    background-position: center;
    background-size: cover;
    padding: 1rem;
    color: white;
}

.img-cont {
    width: 40%;
}

.navbar {
    background: #ffffff5e;
}

.card {
    background: #ffffff5e;
    border-style: solid;
    border-color: black;
}

.btn {
    background-color: #ffffff5e;
    border-color: #ffffff5e;
    color: black;
}

.modal-content {
    background-color: #6b6b6b;
}

.modal-title {
    color: white;
}

.modal-header {
    border-bottom: 1px solid #00000000;
}

.modal-footer {
    border-top: 1px solid #00000000;
}

.list-group-item {
    background-color: #707070;
}